<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan an Event</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/soccer_ball.ico') }}">
    <script defer src="{{ url_for('static', filename = '/js/app.js') }}"></script>
</head>
<body>
    <section class=" min-h-screen min-w-full"> 
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class=" bg-indigo-500 text-black rounded-lg p-3 h-auto w-full mt-20">
                    {% for message in messages %}
                        <p class="text-center  text-lg font-semibold text-white">{{message}}</p>
                    {% endfor %}     
                    </div>
                {% endif %}
            {% endwith %}
        </div> 
        <main class="flex flex-wrap flex-col  justify-center content-center gap-10 w-3/4 mx-auto min-h-full p-10">
            <img src="../static/images/undraw_game_day_ucx9.svg" alt="" class="w-1/3 h-1/3">
            <h1 class="text-5xl text-indigo-500 font-bold">Create Event</h1>
            <form action="/submit_event" method="POST" class="flex flex-col gap-5">
                <label for="" class="border-b-2 border-indigo-500">
                    <span class="block text-lg font-semibold">Name</span>
                    <input type="text" name="name" class="border-none outline-none w-full pl-3">
                </label>
               
                <label for="" class="border-b-2 border-indigo-500">
                    <span class="block text-lg font-semibold">Location</span>
                    <input type="text" name="location" class="border-none outline-none w-full pl-3">
                </label>
                <label for="" class="border-b-2 border-indigo-500">
                    <span class="block text-lg font-semibold">Time</span>
                    <input type="time" name="time" class="border-none outline-none w-full pl-3">
                </label>
                <label for="" class="border-b-2 border-indigo-500">
                    <span class="block text-lg font-semibold">Date</span>
                    <input type="date" name="date" class="border-none outline-none w-full pl-3">
                </label>
               <button type="submit" class="w-1/2 text-white bg-gradient-to-r from-indigo-300 to bg-indigo-600 p-2 mx-auto rounded-lg hover:-translate-y-2 hover:-translate-x-2 shadow-lg shadow-indigo-800">Let's Go!</button>
                
            </form>
        </main>
      
        
    </section>
</body>
</html>